/*Фон модального окна  */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E212C;
    font-family: Ubuntu;
    z-index: 10;
}
.modal button{
    width:120px;
height: 35px;
border-radius: 4px;
border: none;
outline: none;
cursor: pointer;
margin: 8px 0 0 0;
font-size: 16px;
text-align: center;
}
.modal__subTitle{
    display: flex;
    flex-direction: column;
    
}
.modal__subTitle input{
    padding: 7px 7px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #F4F5F9;
    background: #F4F5F6;
    outline: none;
}
.modal__content {
    width: 400px;
    background-color: #fff;
    padding: 10px ;
    border-radius: 15px;
    text-align: center;
}
.modal__body{
    border-top: 1px solid #ccc;
}
.modal__name{
    text-align: left;
    padding: 5px 0;
}
.modal__email{
    text-align: left;
    padding: 10px 0;
}
.modal__title {
    padding: 10px 0;
    text-align: center;
font-family: Ubuntu;
font-weight: 700;
}

@media(max-width: 405px){
.modal__content {
    width: 320px;
}
}
