.contacts {
    background: url("../../public/Img/bckg\ contacts.png") 65% / cover;
    width: 100%;
    height: 650px;
    color: black;
    position: relative;
}
.contacts__container {
    padding: 80px 0 0 50px;

}
.contacts__title {
text-transform: uppercase;
font-family: Ubuntu;
font-size: 40px;
font-weight: 700;
}
.contacts__title p{
padding: 5px 0;
color: #787A80;
font-size: 14px;
max-width: 560px;
}

.offces{
    margin: 100px 0;
    padding: 0px 0 50px 0;
}
.offices__subTitle {
    padding: 5px 0;
    color: #787A80;
    font-size: 18px;
}
/* offices */
.offices__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 30px;
}
.offices__block {
    max-width: 320px;
    width: 100%;
    height: auto;
font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
color: #1E212C;
position: relative;
}
.offices__block:nth-child(2)::before{
content: '';
position: absolute;
left: -25px;
top: 0;
background-color: #787A80;
height: 100%;
width: 1px;
}
.offices__block:nth-child(3)::before{
    content: '';
    position: absolute;
    left: -25px;
    top: 0;
    background-color: #787A80;
    height: 100%;
    width: 1px;
    }
@media (max-width: 1020px){
    .offices__block:nth-child(3)::before{
        display: none;
        }
}
@media (max-width: 669px){
    .offices__block:nth-child(2)::before{
        display: none;
        }
}

.offices__block span{
font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
color: #787A80;
}


.offices__block-title {
font-family: Ubuntu;
font-size: 20px;
font-weight: 700;
line-height: 42px;
text-align: center;
color: #1E212C;
padding: 10px 0;
}
.offices__block-street {
    padding: 4px 0;
}
.offices__block-call {
    padding: 4px 0;
}
.offices__block-mail {
    padding: 4px 0;
}
.offices__block-shchedule {
    padding: 4px 0;
}